<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <header>
    <% include ./partials/_header.ejs %>
  </header>

<% if (user.id === creatingUser) { %>
  <form method="POST" action="/urls/<%= shortURL %>">
    <label for="updateURL"><h2>ShortURL: <%=shortURL %></h2></label>
    <input id="newURL" type="text" name="newURL" value= "<%= longURL %>"  style= "width: 300px">
    <button type="submit">Update</button>
    <ul>
       <li><%= shortURL %>: <%= longURL %></li>
    </ul>
  </form>
  <% } else {%>
    <h4>Permission denied, you did not create this URL.</h4>
  <% } %>

</body>
</html>